<div class="container-lg">
  <h1>Frequent Asked Questions</h1>
  <br /><br />
  <h2>What is LiveFollowr+?</h2>
  <p>
    <br />
    LiveFollowr+ gives you the ability to see which of your followers are live on Twitch.
  </p>
  <br />
  <h2>Why was LiveFollowr+ created?
  </h2>
  <p>
    <br />
    LiveFollowr+ was created so that streamers could have another way of connecting with followers. As of now, Twitch
    does not include such a feature.
  </p>
  <br />
  <h2>Is LiveFollowr+ free?
  </h2>
  <p>
    <br />
    YES! 100% FREE!
  </p>
  <br />
  <h2>How else can I support you?
  </h2>
  <p>
    <br />
    <strong>FlashForce:</strong><br />
    <a href="https://www.twitch.tv/flashforce" target="_blank">https://www.twitch.tv/flashforce</a><br />
    <a href="https://www.youtube.com/c/flashforce" target="_blank">https://www.youtube.com/c/flashforce</a>
    <br /><br />
    <strong>Frowzy:</strong><br />
    <a href="https://www.youtube.com/FrowzySquirrel" target="_blank">https://www.youtube.com/FrowzySquirrel</a>
    <br /><br />
  </p>
</div>
