<div class="container">
  <footer>
    <p>
      <span>LiveFollowr+</span> is a free tool for Twitch streamers created by
      <a href="https://twitter.com/FlashForce" target="_blank">
        <strong>FlashForce</strong>
      </a>
      &
      <a href="https://twitter.com/FrowzySquirrel" target="_blank">
        <strong>FrowzySquirrel</strong>
      </a>. <br/>
      If you have any questions
      or suggestions, drop us a message on Twitter ❤️
    </p>
    <br /><br />
    <p>
      <a routerLink="/faq" target="_blank">
        <small>Read our FAQ</small>
      </a><br />
      <a (click)="logout()">
        <small>Logout</small>
      </a>
    </p>
    <br /><br />
  </footer>
</div>
